<?xml version="1.0"?>
<config>
    <default>
        <google>
            <gtmdatalayer>
                <include_datalayer>1</include_datalayer>
                <include_push_identify>0</include_push_identify>
            </gtmdatalayer>
            <cookie_consent>
                <more_link>https://cookiesandyou.com/</more_link>
                <text_message>This website uses cookies to ensure you get the best experience on our website.</text_message>
                <button_dismiss_text>Got it!</button_dismiss_text>
                <button_deny_text>Refuse cookies</button_deny_text>
                <button_accept_text>Allow cookies</button_accept_text>
                <policy_link_text>Learn more</policy_link_text>
                <color_banner>#edeff5</color_banner>
                <color_button>#4b81e8</color_button>
                <color_banner_text>#838391</color_banner_text>
                <color_button_text>#4b81e8</color_button_text>
                <color_button_text>#4b81e8</color_button_text>
                <compliance_type>opt-out</compliance_type>
            </cookie_consent>
        </google>
    </default>
    <modules>
        <BubbleUp_Gtmdatalayer>
            <version>0.0.1</version>
        </BubbleUp_Gtmdatalayer>
    </modules>
    <global>
        <blocks>
            <gtmdatalayer>
                <class>BubbleUp_Gtmdatalayer_Block</class>
            </gtmdatalayer>
        </blocks>
        <models>
            <gtmdatalayer>
                <class>BubbleUp_Gtmdatalayer_Model</class>
            </gtmdatalayer>
        </models>
        <helpers>
            <gtmdatalayer>
                <class>BubbleUp_Gtmdatalayer_Helper</class>
            </gtmdatalayer>
        </helpers>
        <resources>
            <bubbleup_gtmdatalayer_setup>
                <setup>
                    <module>BubbleUp_Gtmdatalayer</module>
                </setup>
            </bubbleup_gtmdatalayer_setup>
        </resources>

        <sales>
            <!-- This gets added by an observer now.
                <order>
                    <item>
                        <product_attributes>
                            <color />
                        </product_attributes>
                    </item>
                </order>
                <quote>
                    <item>
                        <product_attributes>
                            <color />
                        </product_attributes>
                    </item>
                </quote>
            -->
        </sales>
    </global>
    <frontend>
        <routers>
            <bubbleup_gtmdatalayer>
                <use>standard</use>
                <args>
                    <module>BubbleUp_Gtmdatalayer</module>
                    <frontName>gtmdatalayer</frontName>
                </args>
            </bubbleup_gtmdatalayer>
        </routers>
        <layout>
            <updates>
                <bubbleup_gtmdatalayer>
                    <file>bubbleup_gtmdatalayer.xml</file>
                </bubbleup_gtmdatalayer>
            </updates>
        </layout>
        <events>
            <sales_quote_remove_item>
                <observers>
                    <gtmdatalayer_log_cart_remove>
                        <class>gtmdatalayer/observer</class>
                        <method>logCartRemove</method>
                    </gtmdatalayer_log_cart_remove>
                </observers>
            </sales_quote_remove_item>
            <checkout_cart_product_add_after>
                <observers>
                    <gtmdatalayer_log_cart_add>
                        <class>gtmdatalayer/observer</class>
                        <method>logCartAdd</method>
                    </gtmdatalayer_log_cart_add>
                </observers>
            </checkout_cart_product_add_after>

            <sales_quote_config_get_product_attributes>
                <observers>
                    <gtmdatalayer_sales_quote_config_get_product_attributes>
                        <class>gtmdatalayer/observer</class>
                        <method>getAttributesToInclude</method>
                    </gtmdatalayer_sales_quote_config_get_product_attributes>
                </observers>
            </sales_quote_config_get_product_attributes>



        </events>
    </frontend>

</config>