<config>
    <sections>
        <google>
            <groups>
                <gtmdatalayer>
                    <label>GTM Data Layer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <gtm_container_tag translate="label">
                            <label>GTM Tag</label>
                            <comment>Set your GTM Container ID here</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <include_datalayer>1</include_datalayer>
                            </depends>
                        </gtm_container_tag>
                        <include_variant_id translate="label">
                            <label>Include Variant Id Sku</label>
                            <comment>Configurable products are reported based on their parent SKU, and the selected color (the variant.) Some custom tags may also need the actual SKU of the child product. Enable this option to include it as the key "variantId".</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <include_datalayer>1</include_datalayer>
                            </depends>
                        </include_variant_id>
                        <include_product_categories translate="label">
                            <label>Include Product Categories</label>
                            <comment>This option is disabled by default because pulling a list of product categories is resource-intensive and can slow things down.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <include_datalayer>1</include_datalayer>
                            </depends>
                        </include_product_categories>
                        <include_billing_region translate="label">
                            <label>Include Billing Region</label>
                            <comment>If enabled, the 2-letter country code, and the 2-letter region code will be added to the datalayer as keys "country" and "state".</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <include_datalayer>1</include_datalayer>
                            </depends>
                        </include_billing_region>
                        <include_datalayer translate="label">
                            <label>Include Datalayer</label>
                            <comment>If enabled, turn on Datalayer module for Google Tag Manager. If disabled, turn off.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_datalayer>
                        <include_push_identify translate="label">
                            <label>Include 'Push Identify' feature</label>
                            <comment>If enabled, turn on 'Push Identify' feature for authorized users (push on all pages: first name, last name and e-mail). If disabled, turn off.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <include_datalayer>1</include_datalayer>
                            </depends>
                        </include_push_identify>
                        <change_group_product translate="label">
                            <label>Change Grouped Products to Category for Remarketing</label>
                            <comment>If enabled Grouped Products will be set as categories for remarketing</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <include_datalayer>1</include_datalayer>
                            </depends>
                        </change_group_product>
                        <optimize_yesno translate="label">
                            <label>Google Optimize</label>
                            <comment>This Optiion starts the Google Optimize Anti-Page-Flicker snippet</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>600</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </optimize_yesno>
                    </fields>
                </gtmdatalayer>
                <cookie_consent>
                    <label>Cookie Consent</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_cookie_consent translate="label">
                            <label>Enable Cookie Banner</label>
                            <comment>Enable the cookie consent banner</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_cookie_consent>
                        <position>
                            <visible>1</visible>
                            <label>Position des Popups</label>
                            <comment>You can put following values here: "top", "bottom"</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </position>
                        <layout>
                            <visible>1</visible>
                            <label>Layout of cookie banners</label>
                            <comment>You can put following values here: "block", "classic", "edgelesse", "wire"</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </layout>
                        <color_banner>
                            <visible>1</visible>
                            <label>Color of the cookie banner</label>
                            <comment>You can put following any Hex Color Code Value here.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>30</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </color_banner>
                        <color_button>
                            <visible>1</visible>
                            <label>Color of the cookie banner button</label>
                            <comment>You can put following any Hex Color Code Value here.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>40</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </color_button>
                        <color_banner_text>
                            <visible>1</visible>
                            <label>Color of the cookie banner text</label>
                            <comment>You can put following any Hex Color Code Value here.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>50</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </color_banner_text>
                        <color_button_text>
                            <visible>1</visible>
                            <label>Color of the button text</label>
                            <comment>You can put following any Hex Color Code Value here.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>60</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </color_button_text>
                        <more_link>
                            <visible>1</visible>
                            <label>Path to the GDPR info page.</label>
                            <comment>You can put following any Hex Color Code Value here.</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>70</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </more_link>
                        <compliance_type>
                            <visible>1</visible>
                            <label>Compliance Type</label>
                            <comment><![CDATA[Values:"opt-in","opt-out", leave blank for info. Learn more about compliance here: <a target="_blank" href="https://cookieconsent.insites.com/documentation/compliance/">Compliance Types</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>80</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </compliance_type>
                        <activity_scroll>
                            <visible>1</visible>
                            <label>Allow cookies on scroll activity</label>
                            <comment><![CDATA[Consent to cookies by scrolling the page (value on how many pixels have to be scrolled)]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>80</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </activity_scroll>
                        <activity_click>
                            <visible>1</visible>
                            <label>Allow cookie consent on click activity</label>
                            <comment><![CDATA[Consent to cookies by clicking any element on the page (besides the deny button)]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>80</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </activity_click>
                        <text_message>
                            <visible>1</visible>
                            <label>Custom Banner Text</label>
                            <comment><![CDATA[Text of the cookie Banner.]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>90</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </text_message>
                        <button_dismiss_text>
                            <visible>1</visible>
                            <label>Dismiss button text</label>
                            <comment><![CDATA[Button text for the dismiss of the Banner]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>100</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </button_dismiss_text>
                        <button_deny_text>
                            <visible>1</visible>
                            <label>Deny cookies button text</label>
                            <comment><![CDATA[Button text to deny cookies.]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>110</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </button_deny_text>
                        <button_accept_text>
                            <visible>1</visible>
                            <label>Allow cookies button text</label>
                            <comment><![CDATA[Button text to accept cookies.]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>120</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </button_accept_text>
                        <policy_link_text>
                            <visible>1</visible>
                            <label>Policy link text</label>
                            <comment><![CDATA[Relative link to the coookie policy page.]]></comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>130</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </policy_link_text>
                        <deletecookies>
                            <visible>1</visible>
                            <label>List of cookies to delete</label>
                            <comment>Put one per line. Syntax: clearCookie('_ga','. yourdomain.com','/');</comment>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </deletecookies>
                        <userdefined_enable_functions>
                            <visible>1</visible>
                            <label>Userdefined "Enable Tracking" functions</label>
                            <comment>You can put here userdefined JS Functions that will trigger on "enable Tracking" event.</comment>
                            <frontend_type>textarea</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                            <depends>
                                <enable_cookie_consent>1</enable_cookie_consent>
                            </depends>
                        </userdefined_enable_functions>
                    </fields>
                </cookie_consent>
            </groups>
        </google>
    </sections>
</config>